[2022-07-26 14:39] benbjohnson opened #9 "Continually improve test coverage"
As LiteFS is a database replication tool, test coverage should be high—likely 80-90% test coverage. Some areas of LiteFS may be difficult to report test coverage around such as the FUSE file system but coverage should still exist even if it is not reported.

[2022-07-26 14:42] benbjohnson opened #10 "Implement STATFS FUSE call"

[2022-07-26 14:43] benbjohnson opened #11 "Primary Handoff"
Currently, replicas will automatically obtain the lease quickly after the primary shuts down. However, this incurs a small window of downtime. We can remove this window by having the primary handoff the session ID to an up-to-date replica and have that replica become the new primary.

[2022-07-26 14:44] benbjohnson opened #12 "Non-default page size"
LiteFS is tested against the default 4KB page size, however, it should be able to handle any page size from 512 bytes to 64K.

[2022-07-26 14:45] benbjohnson opened #13 "PERSIST & TRUNCATE Journal Mode"
LiteFS currently handles the `DELETE`  rollback journal mode. It should also handle `PERSIST` & `TRUNCATE`.

[2022-07-26 14:47] benbjohnson opened #14 "Support WAL Mode"
LiteFS currently only supports the rollback journal, however, it should also be able to convert WAL writes to LTX files as well.

[2022-07-26 14:48] benbjohnson opened #15 "Gracefully handle WAL PRAGMA"
Until #14 is implemented, LiteFS should gracefully prevent WAL mode from being enabled.

[2022-07-26 14:49] benbjohnson opened #16 "Candidates"
Currently, every node in a LiteFS cluster is a candidate to become the primary. However, in practice, users may want to keep their primaries in a single region for consistent performance. The `litefs.yml` config file should have a flag to indicate whether a node is a candidate or can only be a replica.

[2022-07-26 14:51] benbjohnson opened #17 "SQLite Test Suite"
While LiteFS is mostly a passthrough file system, it'd be good to run the SQLite test suite against it to verify correctness. Most of the test suite does not test persistence so only a subset is valuable. The main limiting factors for implementing this is my lack of Tcl knowledge and WAL mode being unsupported right now (#14).

[2022-07-26 14:54] benbjohnson opened #18 "S3 Replication"
LiteFS provides some redundancy by running in a cluster, however, losing all nodes would cause all data to be lost. Replicating to S3 in manner similar to [Litestream](https://litestream.io/) would provide high durability (11 9s) as well as allow point-in-time restores.

As opposed to Litestream, LiteFS is designed for efficient compaction of transaction files so restore time should be much faster

[2022-07-26 14:57] benbjohnson opened #19 "LTX Encryption"
LTX files are designed to support encryption so that remote storage, such as AWS S3, will not be able to read the underlying data. Currently, I'm leaning toward using AES-GCM-SIV from the [Tink](https://developers.google.com/tink) project.

[2022-07-26 14:59] benbjohnson opened #20 "LTX Event Data"
The LTX file format is designed to store optional event data (similar to [SSE](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events)) for each transaction file. This can be useful as replicas may need to know when and how data changes instead of polling their local copy for changes.

This will need to be implemented as something like a file handle so the app

[2022-07-26 15:01] benbjohnson opened #21 "Investigate `SingleThreaded` race error"
Currently, the race detector reports an unusual race when running `go-fuse` as-is: https://github.com/superfly/litefs/pull/5

This has been fixed by enabling `SingleThreaded` but that shouldn't be necessary. More investigation will be necessary to figure out what's going on.

[2022-07-26 17:53] marcua opened #22 "Support for other embedded databases (e.g., DuckDB)"
Wonderful project, @benbjohnson! Thank you for open sourcing it!

As the name implies, the primary `litefs` use case is around SQLite. I'm curious how tightly coupled to SQLite internals the intercept-writes-at-the-file system-level approach is. What challenges you envision in supporting other embedded databases like DuckDB?

(Apologies in advance if you prefer not to use issues to answer question

[2022-07-26 19:33] arianvp opened #23 "Support kubernetes lease API for leader election?"
Kubernetes has something similar to consul sessions called the Lease API. Could we use it to simplify deployments in k8s so there is no dependency on consul?

[2022-07-26 19:44] benbjohnson commented on #22
Thanks, @marcua! It's cool to ask questions in issues. It doesn't matter much to me. :)

The SQLite internals are pretty tied to the implementation so I don't think swapping in DuckDB would work well (although a separate implementation could probably support DuckDB). I know the Duck folks have some plans for distributing their data via S3 IIRC.

[2022-07-26 19:44] #22 closed

[2022-07-26 19:46] benbjohnson commented on #23
I didn't realize there was a Kubernetes Lease API. That's good to know. Yes, I think supporting that would be great. I'll tackle that once I get the project stabilized and tested. Thanks!

[2022-07-26 19:50] benbjohnson opened #24 "Primary-Initiated Replication"
[A comment on HN](https://news.ycombinator.com/item?id=32242742) had an interesting idea of having the primary walled off from the other nodes and having the primary reach out to replicas instead of replicas connecting to the primary. It could provide security benefits as the primary node(s) could have tighter firewall controls.

[2022-07-26 20:49] veramine commented on #24
I think this is a great idea!  We want to give customers direct access to data and we do this today by sending json to kinesis/s3/syslog/etc, the usual places.  Customers then parse the json and write into a database on their end.  It would be cool to replicate a sqlite database to them directly but of course we can't let them connect into our prod network.  It'd be slick to push a live replicated

[2022-07-26 23:22] marcua commented on #22
Thank you @benbjohnson!

[2022-07-27 14:15] jwhear opened #28 "Disk IO errors with simple usage"
I've tried working through the README directions but consistently run into Disk IO errors.  I'm using the 0.1.0 release.  I've distilled everything down to a simple Bash script for reproducing:

[code]

The output of running this is attached
[repro.log](https://github.com/superfly/litefs/files/9199826/repro.log)

[2022-07-27 20:27] benbjohnson commented on #28
@jwhear Thanks for such an excellent, detailed repro script. I'll take a look and see what's going on.

[2022-07-28 14:09] jwhear commented on #28
I've found an additional data point by Dockerizing: on Alpine it works great, on Fedora I continue to see disk IO errors.

[code]

[Dockerfile.alpine](https://gist.github.com/jwhear/9688d4af0646143e16916b9844d351ea)
[Dockerfile.fedora](https://gist.github.com/jwhear/83889e9bbba42cbf961340a341ede446)

[2022-07-28 14:34] jwhear commented on #28
Debian-based test also fails for me although at this point I suspect the host system's FUSE device is the culprit:
`docker run --rm -it --cap-add SYS_ADMIN --device /dev/fuse (docker build -qf Dockerfile.debian)`

[Dockerfile.debian](https://gist.github.com/jwhear/4d64fdf15c2ed756cbb0660fa14a3fff)

[2022-07-28 20:14] #15 closed

[2022-07-31 08:59] gedw99 opened #35 "Hosting options."
Looks very nice. Like it’s async and recovery approach.

It would be good at sone stage to highlight hosting options.

for example google Cloud Run allows using a remote File System these days. Not saying that this is compatible with the way Litefs works, but just giving one example as a reference.

part of the reason is to make it easy for me to host anywhere but also benchmark anywhere.

so it w

[2022-08-03 13:50] benbjohnson commented on #35
Good points, @gedw99. I need to get a docs site up once LiteFS is more stable and I'll include some hosting options there. :+1

[2022-08-03 15:13] benbjohnson opened #37 "Fixed Leader"
Currently, LiteFS uses Consul for leader election but it could be useful to have a single, fixed leader that replicates out to read-only replicas.

[2022-08-05 16:09] #28 closed

[2022-08-05 16:29] benbjohnson commented on #21
FUSE implementation replaced. No longer have this issue.

[2022-08-05 16:29] #21 closed

[2022-08-05 17:34] jwhear opened #42 "Expose TXID"
Because LiteFS requires that the application layer direct writes to the primary node, many use cases will need the transaction ID to be exposed to the application layer.  The simplest example of this is a replica node sending a write to the primary, waiting for it to succeed, then querying its local database with the expectation that the write will have appeared locally.  This can be accomplished

[2022-08-05 18:04] jwhear commented on #37
I have given this some thought as my proposed system design using LiteFS would prefer a primary located centrally (at least from a latency perspective) in the US, with replica nodes all over the place.  The approaches that I seriously considered:

1. Fixed IP/hostname, I think this is what you have in mind here.  The primary node knows, based on configuration, that it is the primary.  Replicas are

[2022-08-05 18:19] jwhear commented on #37
Just saw #16, looks like you already have point 2 in mind.

[2022-08-05 19:44] jwhear opened #43 "Expose primary information"
Directing writes to the primary node is the job of the application, so the primary's hostname needs to be exposed somehow.  At present the application can get this by querying Consul, but if #37 and/or #23 are implemented this will no longer be the case.  I propose exposing this information via a file in the shadow directory, similar to Litestream's `.primary`.

[2022-08-06 15:02] benbjohnson commented on #42
@jwhear Thanks for adding this issue. I swear I thought I added it before but I guess not. :) I added it to the next milestone.

Yeah, I'll probably just store in the same file for this reason. It seems like you could extract out one of the two values using something like `cut`.

That should be pretty easy to do. I wonder if there's a potential race condition there though. With `read()` I can fill

[2022-08-11 16:56] #16 closed

[2022-08-11 17:17] phillamb168 commented on #23
Following

[2022-08-11 17:21] benbjohnson commented on #23
@phillamb168 Just as a heads up there should be a "Subscribe" button on the right side of the PR if you want to get future notifications.

<img width="307" alt="Screen Shot 2022-08-11 at 11 21 05 AM" src="https://user-images.githubusercontent.com/118015/184194872-debdda6f-1bd4-4dba-900c-ce9020fe8106.png">

[2022-08-11 19:32] #37 closed

[2022-08-11 21:15] benbjohnson opened #48 "Enforce LTX retention"
Currently, LiteFS will retain LTX files locally forever. That's obviously not ideal. Retention enforcement wasn't added because it wasn't clear at first whether databases would be served out of the LTX pages or from the database file itself. Now it looks like serving from the database is the best approach as it make LiteFS a passthrough file system.

LTX files should be retained based on a time li

[2022-08-11 21:22] benbjohnson opened #49 "Snapshots"
Since LTX files need to be removed after a while (#48), we need to be able to take a snapshot of the full database as an LTX file. For the initial implementation, obtaining a `SHARED` lock on the database and then copying the pages to an `ltx.Writer` should suffice. This will prevent writes during a snapshot but this can be alleviated by supporting WAL mode (#14).

A snapshot LTX file should be se

[2022-08-12 15:44] darthShadow opened #50 "Mmap the underlying file"
Would it be possible to open the underlying database file with mmap for better performance or would it not be very useful since all queries need to pass through the FUSE layer anyway, which would be the bigger bottleneck?

[2022-08-12 16:03] benbjohnson commented on #50
Yeah, that's definitely a possibility. `mmap()` can help for databases that are smaller than memory but it can have performance issues as Go will stall if the page needs to be read from disk. I'm currently focused on correctness but it's something I'll try once I get to performance improvement.

[2022-08-12 16:11] darthShadow commented on #50
Perfect, thanks.

[2022-08-12 21:55] darthShadow opened #52 "Slow loading of sqlite dump file"
Not sure if the project is considered stable enough for such testing right now, but gave it a try anyway. Feel free to close the issue if it's not suitable right now and I can give it a try again later.

---

I tried loading one of my bigger databases (~ 4 GB) by dumping it into a sql file (via `.dump`) and then loading it into a new DB on a litefs mount (via `.read`) and these are my observations

[2022-08-12 22:21] benbjohnson commented on #52
@darthShadow Testing is always welcome so thanks for submitting the issue. The project is definitely still "alpha" stage so I wouldn't consider it stable at the moment.

That definitely shouldn't happen so I can look into what's going on there. LiteFS has to write out transaction files with ordered pages so they can be merged later so there's some kind of sorting issue going on.

This is definitel

[2022-08-12 22:30] darthShadow commented on #52
Thanks for the reply.

---

Let me know if you need a copy of the DB. It contains sensitive information so I can't post it publicly but I could DM it to you via email or on the litestream Slack.

Great, will check this again once those changes come in.

Thought so. No worries, will use this as a benchmark for later improvements just to see how far it has come ... :smile:

[2022-08-13 04:19] benbjohnson commented on #12
Yeah, that's an easy fix to put in there. If implementing this issue takes too long then I'll do that. 👍

[2022-08-15 17:40] #49 closed

[2022-08-15 20:14] benbjohnson opened #55 "Support file-based SQLite database initialization"
Ideally, it'd be nice to support the creation or replacement of a database with simple file commands. e.g.

[code]

[2022-08-16 17:49] benbjohnson opened #56 "Write Forwarding"
Currently, LiteFS supports a single primary node that performs all the writes. However, there are situations where it would be useful to have multiple nodes that can write—even if it means taking a performance hit. Two common examples are background jobs & out-of-band migrations.

This could work by having the primary handoff the write lock to another node temporarily:

1. Given N₁ is the primary

[2022-08-16 21:39] #48 closed

[2022-08-16 21:57] #10 closed

[2022-08-17 14:02] #12 closed

[2022-08-17 14:48] #42 closed

[2022-08-17 15:15] benbjohnson commented on #43
I think I'll switch the `.primary` to show the hostname instead of the LiteFS URL endpoint. That really doesn't need to be exposed to the end user AFAICT.

[2022-08-17 20:07] benbjohnson opened #61 "Prometheus Metrics"
LiteFS should expose a set of Prometheus metrics via a `GET /metrics` endpoint on the HTTP server.

## Metrics

### Store metrics
- [x] Number of databases
- [x] Primary status
- [x] Number of subscribers
- [x] Frames sent by database/type

### Database metrics
- [x] Transaction ID
- [x] Files reaped by retention
- [x] LTX file count & size
- [x] Database writes
- [x] Journal writes

[2022-08-18 17:51] benbjohnson opened #62 "Consul Node Registration"
Using Consul's session API works fine without an associated node in a single tenant environment. However, when using Consul in a multitenant environment with ACLs, the `session_prefix` will apply to the node name in the session and will be rejected as a permission error if one is not present.

The fix is to provide a means for specifying a node name that will be registered on start up. LiteFS uses

[2022-08-18 18:34] #62 closed

[2022-08-19 00:21] benbjohnson opened #64 "Exit gracefully on clean exec exit"

[2022-08-19 00:55] jsierles commented on #64
This was my mistake. LiteFS is exiting cleanly. I was running a subprocess that runs its own subprocesses, so the master process never exited while the subprocesses did.

[2022-08-19 00:55] #64 closed

[2022-08-19 16:03] benbjohnson commented on #43
Fixed via https://github.com/superfly/litefs/pull/66

[2022-08-19 16:03] #43 closed

[2022-08-19 17:08] #61 closed

[2022-08-25 01:16] tjheeta opened #75 "Litefs crash"
Was restarting litefs and it was connecting back to the primary and it happened. Can't seem to reproduce this, but this is the stacktrace off of the build of 37d2e5d255879b8635c38474a9e0c2609fa31be2.

[code]

[2022-08-25 03:08] tjheeta opened #76 "Primary not being set on failover"
When I was testing failover, I found some odd behaviour testing against two nodes (sea and mia).

1) Assuming mia was the primary, on reboot occasionally it would re-acquire the lease. It would advertise that it the lease was acquired, but no ltx were being shipped to sea.
[code]
In sea, the .primary contains:
[code]
And the ip address of mia is:
[code]

It looks like that sea is not acquiring the

[2022-08-25 03:57] tjheeta opened #77 "LTX corruption"
After failover testing done by ```fly restart vm```:

[code]

As far as I know, there was no activity for probably 10-30 seconds before the restart. Possibly longer. I'm attaching the entire directory as a base64 in hope that it is of some use to you.

[code]

[code]

[2022-08-25 06:39] tjheeta commented on #76
More info.

mia = [fdaa:0:2fff:a7b:2cc3:1:932e:2]
sea = [fdaa:0:2fff:a7b:2dbb:1:932d:2]

1) sea connects to mia (fdaa:0:2fff:a7b:2cc3:1:932e:2). Everything works fine.
[code]

2. Restarted mia, but it connects to it's former address (fdaa:0:2fff:a7b:2cc3:1:932e:2)!

[code]

3. The stream replication breaks for sea and it acquires the primary lease.
[code]

4. mia does not acquire the new lease as

[2022-08-25 06:58] tjheeta commented on #76
Another amusing one. After a ```fly deploy```, both sea and mia are connected to themselves. I'm not even sure how this is possible, but it's one hell of a race-condition.

[code]
[code]

[code]

[2022-08-25 08:40] tjheeta commented on #75
[code]

[2022-08-25 09:03] tjheeta commented on #76
The following patch seems to fix this particular issue. First time writing go, hope this is adequate.

[code]

[2022-08-25 17:27] benbjohnson commented on #77
@tjheeta Thanks for all the testing. I got this fixed up with https://github.com/superfly/litefs/pull/78. It looks like `0000000000000062-0000000000000062.ltx` had a file size but all the bytes were `\x00` so it looks like the file metadata was flushed from the OS page cache before the restart but not the file data. The PR fixes it so it uses atomic writes.

[2022-08-25 17:27] #77 closed

[2022-08-25 19:07] tjheeta commented on #76
After some more testing, it seems this patch has a problem I'm not sure how to resolve.

To summarize the issue, when a primary restarts, it will connect to consul and check for a lease. The lease exists, so by default, it will connect as a replica. Unfortunately, it connects to itself which causes replication issues and transaction corruptions.

So if we are the previous owner, I'm not sure how t

[2022-08-25 19:13] benbjohnson commented on #76
I'm adding some fixes to prevent this:

1. Add a "node ID" that's persisted to the data directory so that a node can identify itself. It'll pass this along to the HTTP server when connecting the stream and the server will return an error if it tries to connect to itself.

2. Add a check to the HTTP server to not allow connections if it is not a primary.

3. Add a context cancelation to the `http.R

[2022-08-25 19:43] tjheeta commented on #76
Yes, this is way more elegant and it doesn't break the lease acquisition state machine. :slightly_smiling_face:

The tradeoff of writes being dropped till lease expiry is [well documented](https://github.com/superfly/litefs#leader-election), so there are no surprises here.

As a side note, forcing a primary change might be the safest thing to do in general as we don't know why the original crashed

[2022-08-25 19:48] benbjohnson commented on #76
A new primary should automatically be promoted once the key expires in Consul and the lock delay passes. We can't force a primary change in order to prevent split brain. The safest thing to do is rely on the TTL. It does introduce a little bit of downtime in the case of unclean exits but it's only about 15s. There are some tricks we can do in the future to help minimize that time as well.

[2022-08-25 19:57] tjheeta commented on #76
Ah, I used some confusing language there: "forcing a primary change" -> "ensuring the primary will change" may be safer than trying to re-acquire the lease since we don't know why the primary crashed.

From my perspective, given the unclean exit, I do believe 15 seconds of no writes is quite acceptable.

[2022-08-25 20:18] benbjohnson commented on #76
I added the node ID here: https://github.com/superfly/litefs/pull/79

[2022-08-25 20:19] benbjohnson commented on #76
It also changes the disk layout a bit. It moves the database directories from under the root data directory (e.g. `$DATADIR/00000001`) to a subdirectory (e.g. `$DATADIR/dbs/00000001`). The node ID is persisted to `$DATADIR/id`.

[2022-08-25 20:46] benbjohnson commented on #76
I added context wrapping so that it will get canceled when the primary status changes. The PR still needs some tests but I figured I'd throw it up on GitHub. I'm AFK for a couples days but I'll add those tests on Monday. https://github.com/superfly/litefs/pull/80

[2022-08-25 20:50] tjheeta commented on #76
Wow, thanks for the incredibly quick fix. Manually tested against dd6e73e.

Both quickly restarting```fly vm restart``` and destroying the vm and have it come back up```fly vm stop``` seem to be working now and both are under 40 seconds end to end with replication re-established.

fly vm restart (which would simulate a reboot or OOM)
[code]

fly vm stop loses the vm completely takes about 40 secon

[2022-08-29 20:54] #75 closed

[2022-08-29 20:55] benbjohnson commented on #76
I added tests and merged #80 so I'm closing this out. Thanks for reporting it!

[2022-08-29 20:55] #76 closed

[2022-09-05 08:22] gedw99 opened #96 "is a proxy needed ?"
web servers using litefs don't know which litefs server to read from or write from.

SO i presume a proxy ir needed, so that this is automatically managed for them ?

also what about a SQL statement that has a write and read in it ? Again i presume the proxy would handle this ?

https://github.com/CECTC/dbpack is an golang db proxy that does what i am suggesting.

[2022-09-05 08:24] gedw99 commented on #96
https://github.com/superfly/litefs/issues/42 seems to suggest that the application code must direct which server is used ?

[2022-09-05 14:39] benbjohnson commented on #96
@gedw99 I'm writing up some docs right now that should hopefully make this all clearer. You'll need some kind of proxy for writes but not necessarily for reads. Only a single node can be a primary at any given time but all nodes in the cluster have a full copy of the database. If your application can conform to `GET` being read-only and `POST`/`PUT`/`PATCH`/`DELETE`/etc being read/write then it's

[2022-09-05 14:39] #96 closed

[2022-09-07 13:47] benbjohnson commented on #96
That's correct, the Fly proxy isn't open source but it's just one way to proxy. AFAIK, though, it's not too complicated of a proxy mechanism. The proxy sends the request to a node and if that node returns a response with the `fly-replay` header then the proxy will resend the request to another node. The request is a stream of bytes so it just needs to buffer the header in order to replay to anothe

[2022-09-07 13:52] gedw99 commented on #96
thanks. good points.   docs look great btw...

For liteFS DB it has to be a L4 proxy normally since  its tcp ?

[2022-09-07 14:29] benbjohnson commented on #96
The proxying is entirely up to the application so it'd be L7. The application needs to make a decision on whether a request is read-only or read/write since any node can service read-only requests. If your application handles `GET` requests as read-only and everything else as read-write then HTTP methods are an easy way to generically proxy HTTP.

[2022-09-07 15:04] gedw99 commented on #96
ok thanks. wil try this out.

[2022-09-16 06:34] tjheeta opened #105 "Multiple databases"
Just wondering - are multiple databases / sqlite files supported per fuse mount?

[2022-09-16 18:34] benbjohnson commented on #105
@tjheeta Yes, there's no hard limit for the number of databases although I haven't tested with a high number yet. I had quite a few people ask to run Litestream with a database per user so making LiteFS eventually support a large number of databases is a priority.

[2022-09-18 15:38] benbjohnson opened #108 "Require data directory to be set"
Right now, the data directory is automatically derived from the mount directory. However, this can be confusing so it's probably better to explicitly set the mount and data directory.

Originally mentioned by David Cameron on Twitter: https://twitter.com/dave_cameron/status/1571514794989191169

[2022-09-19 21:11] benbjohnson commented on #108
Closed via #109

[2022-09-19 21:11] #108 closed

[2022-09-21 20:08] zeina1i commented on #14
Hey @benbjohnson
I'm a bit new in distributed systems, I find this ticket interesting. can I implement this feature?

[2022-09-22 01:39] AviKav opened #112 "Clarification on post-split-brain behavior"
The architecture doc [states:](https://github.com/superfly/litefs/blob/main/docs/ARCHITECTURE.md#ensuring-consistency-during-split-brain)

How does this appear to the application?

[2022-09-22 11:06] arianvp commented on #23
By the way here is the upstream example:

https://github.com/kubernetes/client-go/blob/v0.25.2/examples/leader-election/main.go

It uses a built-in leader elector loop which is maybe not what you want. So probably have to peek into https://github.com/kubernetes/client-go/blob/2fd4aac19007b97ef5b22d045b5615e2094200a1/tools/leaderelection/leaderelection.go#L243 and see how to hook it into litefs' lo

[2022-09-22 16:06] benbjohnson commented on #23
@arianvp Thanks for the example code. It looks like the loop is handled by the Kubernetes client and `acquire()` and `renew()` isn't accessible. I'll need to refactor the LiteFS code a bit so it can externalize the loop instead of handling it itself.

[2022-09-22 16:19] benbjohnson commented on #112
Good question. The new snapshot is written to the SQLite database under the same locking mechanism as a regular SQLite write transaction. So the application wouldn't notice anything different from the database except the data may be different since it's reverting unreplicated transactions.

One other difference is that the transaction ID can appear to repeat itself. The TXID is an autoincrementing

[2022-09-22 16:19] #112 closed

[2022-09-22 16:26] benbjohnson commented on #14
@zeina1i I'm actually in the middle of implementing this right now but you're welcome to give it a try as well. The contribution policy is a little different than most OSS projects. You can implement any issue on the repo but just PR it to your fork and drop a link in the related ticket on GitHub. I typically need to rework bits of any implementation someone submits so it's easier for me to pull i

[2022-09-22 18:23] arianvp commented on #23
acquireOrRenew is implemented in terms of only publi. Functions. So perhaps it's worth looking at its impl and mimicking it if you want to keep your own loop

https://github.com/kubernetes/client-go/blob/2fd4aac19007b97ef5b22d045b5615e2094200a1/tools/leaderelection/leaderelection.go#L317

But reusing the kubernetes loop might probably be more robust.

[2022-09-24 02:28] niyue opened #116 "etcd support"
Hi there,

Thanks for creating the project, and litefs seems a good fit for my use case, but internally we use etcd instead of consul, and we would like to reduce dependency as much as possible (which is why users are using sqlite in many cases). I wonder if there is any chance we add an additional abstraction for consul so that both etcd and consul can be used? Thanks.

[2022-09-24 06:55] balchua opened #117 "Local setup guide"
I am trying this project for the first time on my laptop.  I tried building both litefs and the example from source.
I got the dependencies from the github pipelines.
Installed consul on my laptop too.

Everything compiled and runnable.  Unfortunately, I couldn't make the replication work.

I tried tweaking the `litefs.yml` file configurations but it doesn't replicate.  I am pretty sure i am doing

[2022-09-24 15:19] ignoramous commented on #50
here be dragons: https://www.youtube-nocookie.com/embed/v=1BRGU_AS25c (https://archive.is/pVDzS)

[2022-09-25 03:11] anacrolix commented on #55
I'm finding that this mostly works, but I need to trigger a write on the master to get it to send anything to the slaves to kick things off. I also often get `fuse: commit error: cannot encode ltx page: pgno=327 err=nonsequential page numbers in snapshot transaction: 1,327`, which if I `vacuum` on the master, everything suddenly works nicely.

[2022-09-26 12:20] niyue opened #119 "macOS support"
Hi there,

The project only releases a binary for Linux currently, I wonder if macOS will be supported in the future. This is a Go project and sqlite can be run on macOS as well, and there are projects like macFUSE, so I assume this is technically possible. It will be great if macOS can be used for development and experiment purpose. Thanks.

[2022-09-26 21:21] anacrolix commented on #119
@niyue I got things to with with https://github.com/superfly/litefs/pull/118.

[2022-09-27 19:15] benbjohnson commented on #119
Thanks for submitting the PR, @anacrolix. I originally had it working on macOS with `hanwen/go-fuse` but I had quite a few issues. I'm not sure if it was macFUSE or the `go-fuse` library. They were fairly serious issues like locking up my entire laptop and forcing a hard shutdown.

I'd like to support macOS but I may do it as a SQLite VFS instead of dealing with the intricacies of macFUSE. I'd be

[2022-09-27 19:17] benbjohnson commented on #55
That's good to hear it mostly works. I actually thought it was going to need quite a bit more work. :)

[2022-09-27 19:24] benbjohnson commented on #116
Yes, I'd like to support etcd & the [Kubernetes Lease API](https://github.com/superfly/litefs/issues/23). There are a few other items that are higher priority that I need to get to first (e.g. WAL support, write forwarding, & S3 support).

[2022-09-27 19:25] benbjohnson commented on #117
@balchua Can you provide some steps to reproduce the issue you're seeing? I need to write up a local setup guide but I haven't had the time yet.

[2022-09-28 01:50] niyue commented on #119
@anacrolix thanks for the #118

I can now set up a two-node litefs env on macOS, and I did some minimum test and it works as expected. I create a sample project to demonstrate this setup:
https://github.com/niyue/litefs_testbed

[2022-09-28 02:41] anacrolix commented on #119
@benbjohnson do you want to consider using the alternative FUSE library in the meanwhile, so as not to leave Mac users in the dark? As mentioned in #118 it works on both Linux and Mac, so is a good middle ground until there's an alternative.

A SQLite VFS would be fantastic, I already ran into performance issues I think arising out of having FUSE in the middle.

[2022-09-28 02:43] anacrolix commented on #55
I have run into some issues since, I'm not sure if it's more related to the enormous sizes of my DBs. There also seems to be some synchronization issues when adding and removing databases.

[2022-09-28 03:05] benbjohnson commented on #119
@anacrolix I’d need to look at any alternative implementation and do a lot of testing first. I don’t want to leave macOS users in the dark but it’s also not a typical OS for server deployment.

As for perf, the rollback journal does a lot of small file system calls and has a lot of lock contention so I’m not worrying too much about the performance side until I get WAL support implemented.

[2022-10-01 01:46] balchua commented on #117
Sorry for the late response.

Here are my steps

[code]

This is the `litefs-node1.yml`

[code]

Start litefs along with my app

[code]

First thing i noticed, the `mnt` folder is empty regardless of how much i add.

[code]

[2022-10-01 03:34] #117 closed

[2022-10-02 15:06] tv42 commented on #119
I have read the plenty of the OSXFUSE kext source code, back when it was still open source and there was a hope of fixing it. Please trust me when I say that macOS does not have FUSE -- it's internal design is incompatible with the concept -- and it won't get such support until Apple deems to do something about that.

bazil.org/fuse removed 25% of its source code by deleting bug workarounds, after

[2022-10-13 19:49] #14 closed

[2022-10-14 16:00] benbjohnson opened #122 "Synchronous Replication"
LiteFS should allow users to specify that they require acknowledgement of a write before accepting new writes.

[2022-10-19 19:32] dangra opened #124 "Include journal filenames in root listing"
Listing files in the mounted directory doesn't include journal files, although it works because looking up for individual filenames returns the correct handles.

[code]

As expected, the files exists on the data dir:
[code]

This is confusing but it doesn't affect SQLite clients per Ben's words:

[2022-10-19 21:50] #124 closed

[2022-10-21 14:25] dangra opened #128 "Replication is broken for WAL journal mode"
Replica fails to sync when WAL journal mode is set

Primary's config:
[code]

Replica's config:
[code]

Primary's output:
[code]

Replica's output:
[code]

[2022-10-21 22:01] #128 closed

[2022-10-24 15:10] benbjohnson opened #132 "LTX Compression"
LTX files are currently sent to replicas as uncompressed blobs. LTX files should support compression internally.

[2022-10-24 22:15] benbjohnson opened #133 "Support `exec` command from CLI arguments"
Per suggestion on the Fly community board, we should add support for executing the subprocess from the command line arguments instead of only from the `exec` field in `litefs.yml`.

See: https://community.fly.io/t/how-do-you-properly-configure-a-litefs-deployment/8126/6

[2022-10-24 22:15] kentcdodds opened #134 "Getting non-matching LTX checksum on fresh volume"
https://github.com/kentcdodds/kentcdodds.com/actions/runs/3316512422/jobs/5478478215

[code]

This volume is brand new and completely empty. @benbjohnson said this is a bug that needs fixing and asked me to open this issue. More context at https://www.youtube.com/watch?v=vTNPJGKqsYQ

Thanks!

[2022-10-25 06:26] gkyildirim opened #135 "Specifying same data & mount directory causes system to hang"
Hello,

I tried latest litefs 0.2.0 and it seems to stuck at some point. It is working with 0.1.1 though.
When I start with litefs I can not access database and even list the mount directory.

This is how I start:
[code]

litefs_SPA.yml:
[code]

Also there is kernel info message:
[code]

Maybe this has something to do with fuse but dont know how to dig it. As I said it is working with 0.1.1.

Than

[2022-10-25 14:27] benbjohnson commented on #134
@kentcdodds Thanks for writing this up. I realized I had an old version (`pr-109`) still on the `litefs-example` which it looks like you have in your Dockerfile as well. Sorry about that. Can you try changing [this line here](https://github.com/kentcdodds/kentcdodds.com/blob/dev/Dockerfile#L2) to:

[code]

I'm surprised to see that error on a brand new volume as it happens when LiteFS is validatin

[2022-10-25 15:53] gkyildirim commented on #135
Maybe 20.04.5 makes the difference? Or maybe there is a something dummy absent at virtual machine. I honestly do not have a clue.

Here is the stack trace. And also m
[code]

And here is my kernel if it helps:
[code]

[2022-10-25 20:39] kentcdodds commented on #134
I'm a bit stuck on deploying LiteFS until this is resolved. Any ideas?

[2022-10-25 21:23] benbjohnson commented on #134
@kentcdodds The error is strange because it is essentially saying that the database state on disk exists but there's no associated replication data. However, you're seeing that error even when you deploy with a clean volume so there shouldn't be any database state.

[code]

Can you try removing the volumes on your staging set up and re-deploying and seeing if you still have the same error?

[2022-10-25 21:33] benbjohnson opened #136 "Allow litefs to keep running if an error occurs"
If `litefs` encounters an error on startup, it will return an error and exit immediately. This is problematic for ephemeral systems as it's impossible to debug the state of the system or any mounted volumes.

Instead, default `litefs` to report an error but keep running until it receives a signal to stop. Add a flag called `ExitOnError bool` to the config to change this behavior.

/cc @kentcdodds

[2022-10-25 21:35] kentcdodds commented on #134
I think I've figured out what's going on. When I create the new volume, my old (pre litefs) app restarts and applies migrations to the new db in the volume which is what causes this issue.

What I'm trying now is to deploy a version of my app that does not do anything to the database so then I can have that one running when I recreate the volume, and then deploy the litefs version. Will let you kn

[2022-10-25 21:40] benbjohnson commented on #134
Ok, cool. Thanks for digging into it more. I also created an issue for keeping `litefs` running on error so it's easier to ssh in and debug the state. https://github.com/superfly/litefs/issues/136

[2022-10-25 21:54] benbjohnson commented on #134
I pushed up a PR for it so it's available at `pr-137` in Docker now. That'll keep `litefs` running even if it hits some kind of error on startup so the fly instance will be accessible via `ssh`.

[2022-10-25 22:06] kentcdodds commented on #134
Good news! It's running now.

Now I'm going to try to create more regions. It just occurred to me that I'll need to create volumes for the regions first right? If I try to deploy my app to a region without a persistent volume things will break right?

[2022-10-25 22:13] kentcdodds commented on #134
Interestingly, I added a volume to `maa`, and then tried to add a region there and got this error message:

[code]

So I just scaled up to a count of `2` and `maa` started right up! Wahoo! Thanks a ton for the help!

Now I just need to figure out how to determine the primary region via that `.primary` file and then I think I should be ready to go with this to prod!

[2022-10-25 22:16] kentcdodds opened #138 "Recover on matching TXID with checksum mismatch"
I just deployed LiteFS to `den` and `maa` and I'm getting a bunch of logs that I'm concerned about:

[code]

I'm not sure what these mean 🤔

[2022-10-25 22:22] kentcdodds opened #139 "Cannot find .primary file"
Here's my litefs config: https://github.com/kentcdodds/kentcdodds.com/blob/dev/other/litefs.yml

So based on what I've read and the example, I would expect to find the `.primary` file at `/litefs/data/.primary`. I only have two regions and I've SSH-ed into both of them and cannot find that file. I also checked at `/data/.primary` and it wasn't there either.

What have I got wrong?

[2022-10-25 22:35] kentcdodds commented on #134
I got this again on a new deploy of the app:

[code]

I'm not sure what I'm doing wrong :(

[2022-10-25 22:37] kentcdodds commented on #134
Here's the failed build, not sure how useful it'll be: https://github.com/kentcdodds/kentcdodds.com/actions/runs/3324709637/jobs/5496681848

[2022-10-25 23:55] benbjohnson commented on #138
@kentcdodds That's an interesting error you caught there:

[code]

It's saying that the two nodes are at the same transaction ID but have different checksums. This can happen if a change isn't replicated before a node is shutdown but it looks like it's not recovering on its own like it should. I think I found the issue and I can push a fix tomorrow.

[2022-10-26 00:00] benbjohnson commented on #139
@kentcdodds From the issue you have in #138 it looks like the node is in a retry loop. The `.primary` file only exists while the replica is connected to the primary so if it's disconnecting and retrying then it won't be available.

Under normal operation this shouldn't happen. I'm on the fence about whether the node should continue showing the last connected primary even if it isn't actively conne

[2022-10-26 00:08] benbjohnson commented on #134
@kentcdodds This is a known bug that can occur on restart with the rollback journal. I have a fix for this one. We should have a v0.3.0 release coming early next week that will have WAL support and stability fixes in it.

[2022-10-26 15:10] ehzro3 opened #140 "Question: Does LiteFS scale write throughput?"
I was introduced to LiteFS but not being proficient at database, I'm having trouble understanding how much it could help write throughput. What I understand is LiteFS will scale writes horizontally to write into multiple replicas. But does it somehow relate to scaling high-throughput as well? Or is it still an underpinning limitation of SQLite?

[2022-10-26 19:58] benbjohnson commented on #140
@ehzro3 Good question. LiteFS can improve read throughput and lower geographic latency by replicating a SQLite database to multiple replicas. However, it won't improve write throughput as SQLite is limited by its single-writer restriction and LiteFS has write overhead in its FUSE model.

[2022-10-26 19:58] #140 closed

[2022-10-26 20:00] dangra opened #141 "Reduce the volume of logs generated by replication"
My replica app receive 15 frames per sec which generates one log line per frame like:
[code]

That amount of logging makes debugging harder when looking for application (non-litefs) errors.

Either decrease the log level from INFO to DEBUG, or periodically log a summary of how many frames were received seconds.

[2022-10-26 20:02] dangra opened #142 "Seeing "malformed database" error in WAL replicas"
The error isn't fixed by resyncing the replica and it is temporal in the sense that it comes and goes away while the replication is happening.

[code]

[2022-10-26 22:12] #136 closed

[2022-10-26 23:18] benbjohnson commented on #135
@gkyildirim Ah, I think I see the issue. The `data-dir` and `mount-dir` can't be the same location. LiteFS v0.1.1 automatically created the data directory but now it has to be specified. It looks like LiteFS is trying to create a directory but it hangs on this goroutine:

[code]

That has a lock that it obtains (typically momentarily) but since it hangs then it locks out most other requests.

If y

[2022-10-27 17:38] benbjohnson commented on #142
Per Slack conversation, this issue might be from using an old SQLite client version. Waiting on update to confirm or not. 👍

[2022-10-27 18:01] #135 closed

[2022-10-27 18:53] #139 closed

[2022-10-27 19:04] benbjohnson commented on #139
I added documentation for the special files (e.g. `.primary` and `-pos` files): https://fly.io/docs/litefs/files/

[2022-10-27 23:31] dangra commented on #142
Seems not related to the client version. I isolated it in this repro https://github.com/dangra/litefs-bug-repro/tree/main/wal-replication-1

[2022-10-28 16:06] benbjohnson commented on #142
@dangra Thanks for the repro. I was thinking that I only needed a lock on `WAL_READ0_LOCK` since I'm always checkpointing on the replica side, however, it looks like it needs `WAL_READ0_LOCK` through `WAL_READ4_LOCK` to be locked. I pushed up a PR: https://github.com/superfly/litefs/pull/148

However, I'm seeing really long latency (e.g. ~6s) for replica reads from your example. At first I thought

[2022-10-28 16:07] benbjohnson opened #149 "File size changes causes OS page cache invalidation"
When running the repro program from @dangra in [this comment](https://github.com/superfly/litefs/issues/142#issuecomment-1294232433), I'm seeing multi-second latency for read queries on the replica.

Update: The read in the repro program fetches every page in the database. With the current FUSE library, a change in the file size will invalidate the whole OS page cache which means that all pages mu

[2022-10-28 16:07] #142 closed

[2022-10-28 16:49] gedw99 commented on #122
https://github.com/maxpert/marmot Might interest you.

sqlite replication using NATS as the data plane.

Using NATS might be a good way to do the data plane aspects because it’s not reinventing that wheel.

[2022-10-28 20:58] benbjohnson commented on #149
Update: It looks like the FUSE layer is invalidating the whole database file from cache when it applies an LTX file so a `SELECT COUNT(*)` query ends up having to re-read the entire file from `litefs` which is slow.

I'm still working on a small, reproducible script. LiteFS was missing the `fuse.OpenKeepCache` on `Create()` and `Open()` although this issue still persists after adding that flag in.

[2022-10-29 15:19] kentcdodds commented on #134
In case, it's helpful, [I tried the SHA release of litefs](https://github.com/kentcdodds/kentcdodds.com/blob/800394f3e27ec3e6f4d16eab0a6c0c46070c5cc9/Dockerfile#L2) just now and got the same error:

https://github.com/kentcdodds/kentcdodds.com/actions/runs/3351908722/jobs/5553715931#step:6:78

[2022-10-29 16:05] benbjohnson commented on #134
@kentcdodds Thanks for trying it. Is this running on a clean volume or the existing one?

[2022-10-29 19:14] tv42 commented on #149
Does the file change size? That currently triggers data invalidation:

[code]

That `explicit_inval_data` is set via `FUSE_EXPLICIT_INVAL_DATA` which the library does not yet have support for (it's protocol v7.30, we're still at 7.17).

[2022-10-29 20:42] benbjohnson commented on #149
@tv42 Ah, that would probably be it. It's a script that just inserts data so the database would keep growing and change size.

How difficult is it to support `FUSE_EXPLICIT_INVAL_DATA`? I was looking at `fuse_kernel.h` and it [shows
`FUSE_WRITEBACK_CACHE` at 7.23](https://github.com/libfuse/libfuse/blob/master/include/fuse_kernel.h#L100) but I think `bazil.org/fuse` supports that, right? Is suppor

[2022-10-29 20:44] kentcdodds commented on #134
Existing one

[2022-10-29 21:07] kentcdodds commented on #139
Great! Thanks!

Question, could you add a section at the end of the primary file that explains what to do when you're app can't find a `.primary` file? What should my application code do in that case? Fail to startup to prevent the deploy from happening?

[2022-10-29 21:07] kentcdodds commented on #139
Also, for the `-pos` files, does my application code need to do anything with that or is that just implementation information that you're documenting there?

[2022-10-29 21:33] tv42 commented on #149
I'll look into it.

[2022-10-30 14:37] #133 closed

[2022-10-31 14:00] changesbyjames opened #153 "Environment variable configuration"
Hey Ben,

Firstly, just a fan of this project, I think it solves a real problem and I'm excited to give it a go.
I'd love to understand your advice on setting up nodes dynamically/automatically? I would normally go down the environment variable routes for configuration of containers but can I use those within the configuration file or write to it dynamically?

Thanks

[2022-10-31 15:19] benbjohnson commented on #153
I'm on the fence about supporting environment variable configuration since configurations can get complicated and environment variables don't support arrays and maps very well. I'm not completely opposed to adding it—I just don't want it to get overly complicated.

You can use environment variables within your configuration file. If you specify a `litefs.yml` config file like this:

[code]

then y

[2022-10-31 16:33] changesbyjames commented on #153
Thanks for your quick response! That works 100% for me - my mistake if that's in the documentation. I agree that trying to encode yml through an environment variable is often more awkward than it's worth.

Do you know if boolean parsing would work in the config file for properties like candidate & debug?

[2022-11-01 14:32] dangra commented on #153
Yes, it does.

The config file is read, variables are expanded and only then it is parsed as yaml

https://github.com/superfly/litefs/blob/4cd4d876ad0a69334817ecd7ab2e7fbed5425e55/cmd/litefs/main.go#L468-L475

[2022-11-01 14:32] #153 closed

[2022-11-01 23:58] benbjohnson commented on #139
Yes, I'll add documentation for that. Good idea. The tl;dr is that your app should forward to the host specified in the `.primary` if it exists and it should attempt to write locally if it doesn't exist. If the local database is on the current primary then it will successfully write. If it just can't find the primary then your app will return a `SQLITE_READONLY` error.

There is an open issue wher

[2022-11-02 20:45] benbjohnson commented on #138
This should be fixed with https://github.com/superfly/litefs/pull/158

I'm going to be doing some more extensive testing tomorrow. I'm going to close now but let me know if you run into this issue again.

[2022-11-02 20:45] #138 closed

[2022-11-02 20:48] benbjohnson commented on #134
I added a possible fix for this with https://github.com/superfly/litefs/pull/157. Although, depending on the exact nature of the issue, https://github.com/superfly/litefs/pull/158 could help too. It's hard to say without looking at the data files in the LiteFS directory.

This may resolve the issue on the existing volume but if it's a bug that was resolved by https://github.com/superfly/litefs/pul

[2022-11-02 20:48] #134 closed

[2022-11-03 15:28] benbjohnson commented on #139
I updated the docs for the pos & primary files with this pull request. Should be live on docs any minute. https://github.com/superfly/docs/pull/411

[2022-11-03 16:46] kentcdodds commented on #139
Great! And what should people do if we encounter a `SQLITE_READONLY` error? I don't expect the app can do much, but if that happens it's really unexpected and I don't know what I would do to troubleshoot the issue.

[2022-11-03 16:56] kentcdodds opened #159 "client transaction id (0000000000000391) exceeds primary transaction id (0000000000000185), resetting to snapshot"
I tried using litefs with a brand new volume and it seemed to work just fine for my primary region, but when my secondary region started booting up, I got some errors:

[code]

Feel free to dig in a bit if you would like. The app is called `kcd-staging`.

I also was unable to find a `.primary` on the first region that booted up (`den`).

[2022-11-08 22:24] benbjohnson commented on #159
hey @kentcdodds, sorry for the delay getting back to you. The log isn't necessarily an error. It's saying that the replica (`maa`) connected to the primary (`den`) but that the replica had diverged from the primary so it's resetting its database to what the primary has.

LiteFS uses async replication so `maa` must have been the primary before and then had transactions that were not replicated to `

[2022-11-08 22:24] #159 closed

[2022-11-08 22:26] benbjohnson commented on #132
Update: HTTP compression was attempted in #155 but it interfered with `http.Flusher`. Implementing in LTX would allow us to compress once instead of compressing for each replica connection.

[2022-11-08 22:27] #119 closed

[2022-11-08 23:07] kentcdodds commented on #159
I'm not using WAL for this app I think. I don't know what that means. Should I be?

[2022-11-09 01:33] benbjohnson commented on #159
WAL stands for write-ahead log and it’s another journaling mode in SQLite. It’s generally the preferred mode and we just added support for it in LiteFS. It’s not something you really need to worry about though unless you have a lot of concurrent users.

[2022-11-09 09:43] markuswustenberg opened #164 "Rename config options "mount-dir" and "data-dir"?"
I think it could be worthwhile to reconsider the naming for the `mount-dir` and `data-dir` configuration options. In the litefs-example repo, the following values are set:

[code]

So `mount-dir` has "data" in the value, and `data-dir` has "mnt" in the name. It makes sense because both directories are mounted and both have data, but which is which seems rather arbitrary, and IMO confusing.

Maybe

[2022-11-09 15:35] kentcdodds commented on #56
Am I to understand from this that you'd normally end up with much better write performance if you don't leverage this feature and instead use a `fly-replay` response to make sure writes happen in the primary?

I was hoping this feature would mean I could simplify my application code by not worrying about whether I'm in the primary region for writes, but based on the issue it looks like that would

[2022-11-09 15:47] benbjohnson commented on #56
Yes, that's mostly correct. Writes will always be much faster on the primary itself.

This feature is for apps that have low write throughput (e.g. 10s of writes per second) that don't want to mess around with the `.primary` file. Ideally, you would setup a set of candidate nodes in a single primary region and then other nodes could redirect writes using `fly-replay` with the `region` (instead of

[2022-11-09 22:44] benbjohnson opened #165 "VFS"
LiteFS should work as a SQLite VFS so that non-Linux users and users who don't like FUSE can also run it.

[2022-11-09 22:45] benbjohnson commented on #119
@anacrolix Sorry, I was doing some cleanup and closed this one since we're not going to support FUSE on macOS. I added a separate ticket to track the VFS implementation: https://github.com/superfly/litefs/issues/165

[2022-11-09 22:49] benbjohnson commented on #164
I agree the names are not great since the FUSE "mount" and the volume "mount" are different. I don't love `access-dir` either.

Also, `volume-dir` won't necessarily always be a volume mount. If you're running on non-cloud hardware it could be a directory on a regular disk. It could also be an ephemeral disk. We're adding external persistence soon too so volume mounts will become less common.

I'll

[2022-11-10 04:19] mrkurt commented on #165
I would really love for this to work with Deno. Is a vfs pretty much going to have to be rust?

[2022-11-10 05:05] anacrolix commented on #165
That's a good point, the performance overhead calling Go to C is high, and C to Go is incredibly high.

[2022-11-10 08:42] markuswustenberg commented on #164
Maybe it could be closer to the technology? `fuse-dir` and `database-dir`?

Naming is hard…

[2022-11-10 14:04] benbjohnson commented on #165
@mrkurt I was thinking that the WASM version would have more limited functionality since a lot of those runtimes don't have a persistent disk so they'll probably just act as a thin client to a separate storage service. If that's the case, then we're stripping out a lot so I'm actually leaning towards making that client in TypeScript instead of Rust.

[2022-11-10 14:11] benbjohnson commented on #164
I could see `fuse-dir` or `fuse-mount-dir` or something like that. `database-dir` seems confusing though. 😂

[2022-11-10 14:58] kentcdodds opened #166 "What to do when hitting checksum mismatch"
Here's the latest build (using the latest sha for litefs): https://github.com/kentcdodds/kentcdodds.com/actions/runs/3437876961/jobs/5733286323

[code]

In the past I've been told to just delete the volume and create it brand new. But what should I do if I actually care about the data in there? Is there any way to recover from this scenario? I don't think I did anything wrong to get in this situat

[2022-11-10 15:26] markuswustenberg commented on #164
That means we're getting closer, at least. 😄

Maybe `fuse-mount-dir` and `data-dir` are sufficient?

[2022-11-10 15:57] benbjohnson commented on #166
hey @kentcdodds, I appreciate your dedication to trying to get this to work. I'm honestly surprised how many hurdles you're running into. I have a "chaos" cluster running that frequently kills and restarts nodes over and over again and I haven't seen almost any of the same issues. It issued a thousand restarts yesterday on a cluster that spanned `ord` to `lhr` to `syd` and it didn't have any recov

[2022-11-10 16:52] kentcdodds commented on #166
Thanks for taking time to look into this.

If you can get [the Remix Indie Stack](https://github.com/remix-run/indie-stack) running on LiteFS then you'll probably bump into any/all issues I'm having. That'd be a good one to test out.

[2022-11-10 23:48] kentcdodds opened #167 "Issues adding a second region"
Running `FROM flyio/litefs:sha-f40cf36 AS litefs`

At around timestamp 1:38, you'll see I try to add a second region to `litefs-indie`: https://www.youtube.com/watch?v=MwIisTAkgF4

This should be all set up with litefs and it runs just fine in a single region, however then I try to add another region:

[code]

And when that region starts up, I get this:

[code]

No idea what's going on, but one th

[2022-11-11 00:11] kentcdodds commented on #167
I tried again (deleted and re-created volumes) at ~2:18 in the stream and here's what happened:

[code]

Looks like it's working now!!!

I don't think I changed anything meaningful, but maybe... Watch the stream closely I guess 😅

[2022-11-11 00:32] kentcdodds commented on #167
Then at around 2:35 of the live stream, I pushed a new deploy and `maa` got up and going fine, but `den` had some issues:

[code]

I don't know what I'm doing wrong, but hopefully the litefs-indie app will be easier for you to debug: https://github.com/kentcdodds/litefs-indie

[2022-11-11 02:53] kentcdodds commented on #167
Ultimately what I'm trying to make work is `kcd-staging` (in preparation for `kcd`). In case it's helpful in this issue, I added this same config in [that repo](https://github.com/kentcdodds/kentcdodds.com/tree/dev) and got it running in one region just fine, but when I tried to spin up a second region (with a brand new volume) I ended up with this:

[code]

So I deleted the volume and scaled back

[2022-11-11 17:25] kentcdodds commented on #167
From the sound of this, once #13 is supported then all my problems should be over 🤞 🙏

[2022-11-11 18:38] ayuhito commented on #167
I've got matching errors with my Remix project using LiteFS too. :sweat_smile:

<details>
  <summary>Logs</summary>

[code]
</details>

My setup is very similar to Kent's stuff (tysm @kentcdodds for going through all the troubleshooting!). Although my stack is different as I use Knex and better-sqlite3 instead of Prisma. Hopefully, this helps in giving more general context.

[GH Actions](https://g

[2022-11-11 18:44] benbjohnson commented on #167
Thanks for submitting that, @ayuhito. The PRs are working locally for me. I'm going to grab some lunch and then test against the `litefs-indie` deployment on Fly when i get back. 👍

[2022-11-11 18:59] ayuhito commented on #167
@benbjohnson, I just realised while the circumstances are similar, I have different errors from Kent's errors. Not sure if you missed that. Lmk if we should move this to a separate issue if the scope is different.

Kent
[code]

Mine
[code]

Mine has a `commit record required` error instead of `checksum mismatch`. Is this perhaps related to my lack of volumes to persist the DB? This error is also s

[2022-11-11 19:46] kentcdodds commented on #167
Well, I had to blow up the volumes one last time, but it seems to be working ok now. One thing I ran into was that the primary can change while an instance is running, so you need to make sure that you don't just set the primary instance in a life-long environment variable.

One thing I'm a bit concerned about. Does fly ensure 0 downtime on restarts and redeploys? How does it manage this? If so, I

[2022-11-11 19:56] kentcdodds commented on #167
Also, in case it's interesting, here are the logs from when I restarted (it looks like both instances may have restarted multiple times):

[code]

And here's when I deployed a new version that accounts for primary changing on the fly (no pun intended):

[code]

(Also, you can watch the live stream here: https://www.youtube.com/watch?v=AA-1sweDAtA)

Based on the redeploy logs, it looks like a new i

[2022-11-11 20:19] kentcdodds opened #170 "Allow me to choose a preferred primary without downtime on deploys"
Based on my website's traffic, my primary should probably be in the United States. However, I don't want to use [static leasing](https://fly.io/docs/litefs/config/#static-leasing) because 1) it would be annoying to figure out how to dynamically set that `static.primary` value based on the region that's deploying and 2) if I understand correctly it means there's a tiny bit of downtime during deploy

[2022-11-11 20:53] benbjohnson commented on #167
@ayuhito Can you try with the latest Docker version (`flyio/litefs:sha-fabf62d`)? If you still have an issue then go ahead and open a separate issue. I suspect it's the same root cause though.

[2022-11-11 21:05] #13 closed

[2022-11-11 21:15] benbjohnson opened #171 "Primary does not consistently release Consul lease"
As reported in https://github.com/superfly/litefs/issues/167#issuecomment-1312144472, when a node receives a `SIGINT`, it doesn't always destroy the Consul lease afterward which causes an ungraceful shutdown.

[2022-11-11 21:16] benbjohnson commented on #167
@kentcdodds On the Fly.io side, you can choose your deployment strategy (rolling, immediate, etc). https://fly.io/docs/reference/configuration/#picking-a-deployment-strategy

As for LiteFS, it'll keep the same primary until that primary can no longer communicate with Consul. On a graceful shutdown, the primary will release the lease it has from Consul and another node will detect that and attempt

[2022-11-11 21:25] benbjohnson commented on #170
You can specify which nodes are candidates by setting `candidate: true` in the config. https://fly.io/docs/litefs/config/#leadership-settings

If you always want your primary to be in the `den` region, you can could set an environment variable (e.g. `IS_PRIMARY_REGION`) based on whether `FLY_REGION` is `den` and use that in the config. The config is env var aware.

[code]

We (Fly.io) don't curren

[2022-11-11 21:43] kentcdodds commented on #170
😅 You're right. That makes loads of sense. Thanks!

[2022-11-11 21:43] #170 closed

[2022-11-11 21:44] benbjohnson commented on #170
@kentcdodds I'm on stream if you have any questions.

[2022-11-11 21:56] benbjohnson commented on #167
I'm going to close this one and I'll continue the graceful shutdown bug on https://github.com/superfly/litefs/issues/171. If the checksum mismatch issue reappears, we can reopen this.

[2022-11-11 21:56] #167 closed

[2022-11-11 22:25] benbjohnson commented on #166
This issue really shouldn't happen going forward. If you did hit the issue though, there are a couple options:

1. Recreate the volume on the node that is having an issue. It'll automatically fetch the database from the primary when it starts up. This assumes you have at least a two-node cluster.

2. You can copy out the `database` file from your `dbs` subdirectory within your `data-dir`. LiteFS a

[2022-11-11 22:25] #166 closed

[2022-11-11 23:38] kentcdodds opened #172 "On new deploy: ERROR: cannot open store: open databases: open database("sqlite.db"): init from database header: invalid sqlite database file: 00000000000000000000000000000000 <> 53514c69746520666f726d6174203300"
Here are the logs starting at the deploy step of an existing app (`kcd-staging`):

[code]

I have no idea what this error means :(

Here's the broken build: https://github.com/kentcdodds/kentcdodds.com/actions/runs/3448608277/jobs/5755798070

Happened at around 4:50ish of this live stream if that's helpful: https://www.youtube.com/watch?v=AA-1sweDAtA

[2022-11-11 23:52] ayuhito opened #173 "Commit Record Required"
I've been running into some errors which boils down to:
[code]

<details>
  <summary>Full Logs</summary>

[code]

  _(note the logs indicate an older LiteFS version but the same issue happened with the newer one anyways)_
</details>

My setup is very similar to `litefs-indie` but uses Knex and better-sqlite3. We have two regions and I also don't have any persistent volumes setup. Is it necessary t

[2022-11-12 00:02] kentcdodds opened #174 "Unable to find `-pos` file"
In my `litefs-indie` app (the simpler app I'm testing litefs with), I'm trying to implement [Using TXID to Handle Consistency](https://fly.io/docs/litefs/files/#using-txid-to-handle-consistency) and having trouble finding the TXID. It doesn't appear my instances have a `-pos` file anywhere...

[code]

Any ideas?

[2022-11-12 00:15] benbjohnson commented on #174
@kentcdodds it doesn’t show up in `ls`. I was worried about having too many files and it getting messy but maybe that’s just too confusing. I’ll fix that. You can open it directly by name though.

You should be able to run: `cat /litefs/data/sqlite.db-pos`

[2022-11-12 00:25] kentcdodds commented on #174
Yup! Thank you 👍

[2022-11-12 18:08] #174 closed

[2022-11-12 18:08] benbjohnson commented on #174
@kentcdodds I fixed this up so `ls` will now show the position file in the listing. https://github.com/superfly/litefs/pull/175

[2022-11-12 18:12] benbjohnson commented on #173
@ayuhito Thanks for reporting this. There's a window of time where a database file can be created but doesn't have any data yet. It looks like the snapshot functionality isn't handling that correctly. I'll add in a fix for it to skip over databases without data.

[2022-11-12 18:15] benbjohnson commented on #173
You shouldn't need persistent volumes if you're not worried about losing your data if all nodes go down.

[2022-11-12 18:18] benbjohnson commented on #172
Thanks for the bug report. The error is reporting that it's trying to read the database header magic but that it's all set to zeros. All SQLite databases start with the characters `"SQLite format 3\x00"`. My guess is that a replica started copying from the primary but didn't finish and has a partial database file and gets stuck on startup. Sorta similar to https://github.com/superfly/litefs/issues

[2022-11-12 18:21] kentcdodds commented on #174
Thanks!

[2022-11-12 19:32] kentcdodds commented on #170
How expressive can I be in this YAML file? Can I do this?

[code]

[2022-11-13 16:29] benbjohnson opened #176 "Allow equality operator in environment variable expansion"
Currently, LiteFS will expand environment variables in the config in the form of `$VAR` or `${VAR}`. However, it'd be useful to evaluate basic `==` and `!=` expressions within the `${VAR}` form.

## Usage

### Single-quote

[code]

### Double-quote

[code]

### Comparing two variables

[code]

[2022-11-13 16:30] benbjohnson commented on #170
@kentcdodds Right now it only works for `$VAR` and `${VAR}` forms but I like the idea of doing basic equality/inequality checks. It doesn't seem too hard either. I wrote up a separate issue for that: https://github.com/superfly/litefs/issues/176

[2022-11-13 17:10] kentcdodds commented on #176
Any chance we could do some kind of "includes"? So I could have multiple regions that could be a candidate?

[2022-11-13 17:12] benbjohnson commented on #170
@kentcdodds I went ahead and just implemented it. It was pretty straightforward and kinda fun to dig into the variable expansion code in Go. :)

Here's the PR: https://github.com/superfly/litefs/pull/177

It's on the latest Docker image (`flyio/litefs:sha-653ff14`) too.

[2022-11-13 17:20] benbjohnson opened #178 "Advanced Variable Expansion"
[Per suggestion](https://github.com/superfly/litefs/issues/176#issuecomment-1312778652) from @kentcdodds, this issue exists to describe additional operators in variable expansion.

The initial suggestion is for a "includes" operator. Environment variables don't necessarily have a format (e.g. CSV) so it might make more sense to have a `CONTAINS` operator instead.

## Usage

Possible formats for us

[2022-11-13 17:21] benbjohnson commented on #176
@kentcdodds I'm not opposed to it. I think it's just a matter of figuring out the exact syntax and supported options since other operators might be included in the future. I wrote up an issue for it here: https://github.com/superfly/litefs/issues/178

[2022-11-13 17:21] #176 closed

[2022-11-13 18:40] kentcdodds commented on #178
Maybe pattern this after other expressive YAML, like GitHub actions?

[2022-11-14 04:06] benbjohnson commented on #178
Yeah, I think something like [GitHub Actions expressions](https://docs.github.com/en/actions/learn-github-actions/expressions) is a good idea. I'll need to actually do a real mini-parser though instead of the regex hack that I currently have so I'll probably push this off for a future release.

[2022-11-14 18:08] kentcdodds opened #179 "Implement position file change notification"
I'm trying to implement [improved consistency](https://fly.io/docs/litefs/files/#using-txid-to-handle-consistency) and one approach I started with but don't like is polling the file until it's been updated to the user session's txid. I'd rather be notified when the file is updated so I can respond quicker and don't have to poll. So I'm trying to use [chokidar](https://npm.im/chokidar) on that file

[2022-11-14 19:02] benbjohnson commented on #179
@kentcdodds The position file isn't really an actual file. LiteFS fakes it so it reads the `litefs.DB.Pos()` value and formats it when read from a handle: https://github.com/superfly/litefs/blob/6ecc5499e3631f73f455ee559b3b091d7462ffbc/fuse/pos_node.go#L49-L65

I _think_ I just need to implement `fuse/fs.Poller` on the position node. Currently it returns `ENOSYS` (which just says it's not implemen

[2022-11-14 21:16] #171 closed

[2022-11-14 21:24] benbjohnson opened #182 "Improve connection health detection"
There is an issue where a replica can connect to the primary's stream but not be notified when the stream shuts down. This means the replica will continue to wait until the connection times out. Some possible fixes include reducing the connection timeout, adding "ping" frames, and adding a "end" frame.

[2022-11-14 22:28] benbjohnson commented on #182
I added an `END` frame via https://github.com/superfly/litefs/pull/183 and it seems to be handling deploys and restarts better. I'm going to close this for now and can reopen if there's additional issues.

[2022-11-14 22:28] #182 closed

[2022-11-15 21:26] #172 closed

[2022-11-15 22:39] benbjohnson commented on #173
@ayuhito This may have been resolved by #184. However, I also added #185 to improve logging for snapshots so it'll help give a bit more info. If you still have your cluster running, can you try it out please? The Docker image is `flyio/litefs:pr-185`.

[2022-11-15 23:02] ayuhito commented on #173
A new challenger seems to have appeared.

[code]

<details>
  <summary>Full Logs</summary>
[code]
</details>

My first deployment returned with the commit record error, but that was because of the rolling restart behaviour since I'm running two instances. One of them was still running the old version. Do you suggest something like the `bluegreen` deployment to work with LiteFS in an isolated manne

[2022-11-15 23:16] benbjohnson commented on #179
@kentcdodds I did some more research and it looks like FUSE doesn't implement file change notification (e.g. `inotify`). There are plans to add an event stream (https://github.com/superfly/litefs/issues/20) and that'll be accessible via something like a unix socket. The position data will be available through that handle so I'm going to close this issue in favor of #20.

[2022-11-15 23:16] #179 closed

[2022-11-15 23:44] benbjohnson commented on #173
@ayuhito I believe the `invalid LTX file` error was in your original post as well. That's caused because the server is disconnecting because of the `commit record required` error. I'll do some more testing on my side to try to reproduce. If you have an example app that I can try, that would help too.

I tried one other possible fix (https://github.com/superfly/litefs/pull/187). Can you give this a

[2022-11-15 23:48] benbjohnson commented on #173
@ayuhito I believe the `invalid LTX file` error was in your original post as well. That's caused because the server is disconnecting because of the `commit record required` error. I'll do some more testing on my side to try to reproduce. If you have an example app that I can try, that would help too.

I tried one other possible fix (https://github.com/superfly/litefs/pull/187). Can you give this a

[2022-11-16 00:01] kentcdodds commented on #179
Bummer. Back to polling then. I've subscribed to the other issue. Thanks!

[2022-11-16 00:10] ayuhito commented on #173
@benbjohnson, ah I'm extremely tired right now so I missed the repeated error in the logs. Apologies :sweat_smile:

<details>
  <summary>Full Logs</summary>

[code]

</details>

Unfortunately, #187 didn't work. Looking at the logs, the first instance deployed fine but things broke deploying the second instance.

I'll try to get a minimal reproduction for you forking `litefs-indie` and strip out Pr

[2022-11-16 00:13] benbjohnson commented on #173
@ayuhito No problem! Thanks for all the help trying to debug this issue.

[2022-11-16 17:17] benbjohnson commented on #173
@ayuhito I was able to reproduce on my side. I'll get it fixed up. 👍

[2022-11-16 18:03] #173 closed

[2022-11-16 19:44] ayuhito commented on #173
@benbjohnson, it works great! Thank you so much for your time!

[2022-11-16 22:59] buzinas commented on #132
For this type of transfer, [zstd](http://facebook.github.io/zstd/) might be a good candidate!

[2022-11-16 23:08] benbjohnson commented on #132
I used [lz4](https://github.com/pierrec/lz4) on [Litestream](https://litestream.io/) and it worked pretty well. From my understanding, lz4 is faster but zstd has a better compression ratio. I've found that the compression & decompression speed is usually more important for something like LiteFS rather than eeking out every last byte of compression.

[2022-11-18 21:02] benbjohnson opened #192 "Allow import via file copy"
It would be nice to allow users to simply copy an existing database file into LiteFS. Currently, this doesn't work as LiteFS only calculates checksums after transactions and the file copy doesn't operate transactionally.

It could be possible to implement this as long as there are no other users using the database at the same time. LiteFS can enforce the `SHARED` & `RESERVED` file locks during cop

[2022-11-24 15:14] #9 closed

[2022-11-25 04:16] gnat commented on #164
`mount-dir`
`local-dir`

[2022-11-25 05:18] gnat commented on #164
One isn't always gonna want to use `/mnt` anyway, myself included, which is leading to some confusion. I'd personally put `data-dir` near/in the app.

The original is totally fine when you consider this.

As an alternative idea maybe

`litefs-dir`
`local-dir`

Just to make it apparent which one your app needs to access vs what you should leave alone to litefs.

[2022-11-26 19:35] JulianBuse opened #204 "Issue running automatic database schema migrations."
Running `FROM flyio/litefs:0.2.0 AS litefs`

Hi, so I'm trying to run automatic schema migrations with litefs in a fly.io project. The project has three regions/instances. I have a bash script that checks if the instance is the primary, and if it is, it runs the migration command:

[code]

The problem is that when I deploy an update, the first two instances to get the update all report that they a

[2022-11-27 02:30] benbjohnson commented on #204
@JulianBuse Good question. Currently, you'd need to run the migration out-of-band from the deployment to ensure it's on the primary. We do have write forwarding (https://github.com/superfly/litefs/issues/56) planned for v0.3.1 to make this easier so you can run a write transaction from any node—even if they're not the primary. You'll want to run most writes near the primary for performance reasons

[2022-11-27 02:30] #204 closed